.wp-block-create-block-team-members {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			.wp-block-create-block-team-member {
				width: calc(100% / #{$i}- 20px);
			}
		}
	}

	.wp-block-create-block-team-member {
		margin: 10px;

		h4 {
			color: #222;
			font-size: 22px;
			font-weight: bold;
			margin: 0;
		}

		p {
			color: #565656;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 5px;
		}
	}
}